.panel-tabset {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.panel-tabset,
.panel-tabset > .nav-tabs,
.panel-tabset > .tab-content {
  border: none !important;
}

/* 2. Add back ONLY the top border on the content pane */
.panel-tabset > .tab-content {
  border-top: 1px solid #dee2e6 !important; /* Uses Bootstrap's default border color */
}


.custom-title {
  color: white;
  font-size: 2px;
}

#quarto-sidebar-toc-left::before {
  content: "";
  float: left;
  padding-right: 100%;
  padding-bottom: 50%;
  background-image: url("images/pixelgen_logo vertical black Title.svg");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
}

#toc-title {
  display: none;
}
